.home {
  height: 80vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
  text-align: left;
  justify-content: center;
  max-width: 100%;
}

.home-image {
  max-width: 80%;
  height: auto;
  width: 70%;
  padding-right: 10%;
  padding: 0 10%;
  padding-left: 5em;
  justify-content: space-between;
  margin: 10px;
}

.home h1 {
  position: relative;
  font-size: 5vh; /* Increase the font size for h1 */
  font-weight: 700;
  line-height: 1.4;
}

.home p {
  font-size: 2rem; /* Increase the font size for p */
}

.thumbnailContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  max-width: 100%;
}
.productListing {
  margin-top: 5vh;
  font-size: 1.2rem; /* Adjust the font size as needed */
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.thumbnail {
  width: 400px; /* Adjust the width */
  height: 300px; /* Adjust the height */
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail:hover {
  transform: scale(1.1);
}